
@{
    ViewBag.Title = "ContentUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Modal-->
<link rel="stylesheet" href="~/Content/css/modal.css">
<!-- Modal -->
<script src="~/Content/js/modal.js"></script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">

                        <!--Table dynamic-->
                        <div class="x_panel" style="padding:20px">
                            <h4>Video upload <a id="addVideoBtn" onclick="$('#addVideoForm').show(500); $('#addVideoBtn').hide(500);" class="fa fa-plus" style="cursor:pointer"></a></h4>
                            <div class="row" hidden id="addVideoForm" style="padding:20px">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="typo-line">
                                            <div class="form-group">
                                                <p class="category">Video Id</p>
                                                <input class="form-control border-input" id="videoid" type="text" placeholder="Input video id here" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="typo-line">
                                            <div class="form-group">
                                                <p class="category">Length</p>
                                                <input class="form-control border-input" id="length" type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 58)' maxlength="10" placeholder="Input video's length here" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="typo-line">
                                            <div class="form-group">
                                                <p class="category">Name</p>
                                                <input class="form-control border-input" id="name" type="text" placeholder="Input video's name here" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="typo-line">
                                            <div class="form-group">
                                                <button class="btn btn-default" type="submit" id="submitBtn">Upload</button>
                                                <a onclick="$('#addVideoForm').hide(500); clearTopicInput(); $('#addVideoBtn').show(500);" class="fa fa-close" style="cursor:pointer;color:red;"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @*<hr />*@
                            <div class="x_content">
                                <table id="datatableVideo" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Link</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">

                        <!--Table dynamic-->
                        <div class="x_panel" style="padding:20px">
                            <h4>Topics <a id="addTopicBtnA" onclick="$('#addTopicForm').show(500); $('#addTopicBtnA').hide(500);" class="fa fa-plus" style="cursor:pointer"></a></h4> 
                            <div class="row" hidden id="addTopicForm">
                                <div class="col-md-5">
                                    <div class="typo-line">
                                        <div class="form-group">
                                            <p class="category">English</p>
                                            <input class="form-control border-input" id="topicEng" type="text" placeholder="Topic in English" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="typo-line">
                                        <div class="form-group">
                                            <p class="category">Vietnamese</p>
                                            <input class="form-control border-input" id="topicVi" type="text" placeholder="Topic in Vietnamese" required />
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success" style="display:inline-block" id="addTopicBtn">Add topic</button>
                                <a onclick="$('#addTopicForm').hide(500); clearTopicInput(); $('#addTopicBtnA').show(500);" class="fa fa-close" style="cursor:pointer;color:red;"></a>
                            </div>
                            
                            @*<hr />*@
                            <div class="x_content">
                                <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>English</th>
                                            <th>Vietnamese</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>
</div>

<div class="modal-frame">
    <div class="modal" style="left: 45%;right:5%;">
        <div class="modal-inset" id="detailModal">
            <div class="button close"><i class="fa fa-close"></i></div>

            <div class="modal-body" style="max-height:calc(100vh - 210px);overflow-y:auto;">
                <h3>Sentences <a id="addSentenceBtnA" onclick="$('#addSentenceForm').show(500); $('#addSentenceBtnA').hide(500);" class="fa fa-plus" style="cursor:pointer"></a></h3>

                <div class="row" hidden id="addSentenceForm">
                    <div class="col-md-12">
                        <div class="typo-line">
                            <div class="form-group">
                                <p class="category">English</p>
                                <input class="form-control border-input" id="sentenceEng" type="text" placeholder="Topic in English" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="typo-line">
                            <div class="form-group">
                                <p class="category">Vietnamese</p>
                                <input class="form-control border-input" id="sentenceVi" type="text" placeholder="Topic in Vietnamese" required />
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" style="display:inline-block" id="addSentenceBtn">Add sentence</button>
                    <a onclick="$('#addSentenceForm').hide(500); clearSentenceInput(); $('#addSentenceBtnA').show(500);" class="fa fa-close" style="cursor:pointer;color:red;"></a>
                </div>
               <br />
                <table id="modaltable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>Vietnamese</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay"></div>

<script>
    var currentTopic;
    $('#brand').text('Content upload');

    function clearTopicInput() {
        $('#topicEng').text('');
        $('#topicEng').val('');
        $('#topicVi').text('');
        $('#topicVi').val('');
    };

    function clearSentenceInput() {
        $('#topicEng').text('');
        $('#topicEng').val('');
        $('#topicVi').text('');
        $('#topicVi').val('');
    };

    $(document).ready(function () {

        //$('#overlay').click(function (e) {
        //    e.preventDefault();
        //    $('#overlay').fadeOut(400, function () {
        //        $overlay.removeClass('state-show');
        //        $modal.removeClass('state-appear').addClass('state-leave');
        //    });

        //    //$overlay.removeClass('state-show');
        //    //$modal.removeClass('state-appear').addClass('state-leave');
        //});

        $('#datatableVideo').dataTable();
        $.ajax({
            type: 'GET',
            url: 'http://' + PORT + '/sas/sas_server/study/video/getAll',
            success: function (resp) {
                if (resp.statuskey == true) {
                    var oTable = $('#datatableVideo').dataTable();
                    oTable.fnClearTable();

                    resp.data.forEach(addTableVideoData);
                } else {
                    swal(
                        'Thất bại',
                        resp.message,
                        'error'
                    );
                    $(':button').prop('disabled', false);
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });

        $('#datatable').dataTable();
        $.ajax({
            type: 'GET',
            url: 'http://'+ PORT +'/sas/sas_server/study/conversation/listName',
            success: function (resp) {
                if (resp.statuskey == true) {
                    var oTable = $('#datatable').dataTable();
                    oTable.fnClearTable();

                    resp.data.forEach(addTableData);
                } else {
                    swal(
                        'Thất bại',
                        resp.message,
                        'error'
                    );
                    $(':button').prop('disabled', false);
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });

        $('#datatable tbody').on('click', 'tr', function () {
            var table = $('#datatable').DataTable();

            if (table.row(this).data()[2] != null) {
                currentTopic = table.row(this).data()[2];
                $.ajax({
                    type: 'GET',
                    url: 'http://'+ PORT +'/sas/sas_server/study/conversation/' + table.row(this).data()[2],
                    success: function (resp) {
                        if (resp.statuskey == true) {
                            var oTable = $('#modaltable').dataTable();
                            oTable.fnClearTable();

                            resp.sentences.forEach(addModalTable);

                            $.notify({
                                icon: 'ti-bookmark',
                                message: "Press x or Escape button to close modal."

                            }, {
                                type: 'danger',
                                timer: 4000,
                                placement: {
                                    from: 'top',
                                    align: 'left'
                                }
                            });
                        } else {
                            swal(
                                'Thất bại',
                                resp.message,
                                'error'
                            );
                            $(':button').prop('disabled', false);
                        }
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });

                $overlay.addClass('state-show');
                $modal.removeClass('state-leave').addClass('state-appear');
            }
        });

        $(document).keyup(function (e) {
            if (e.keyCode == 27) { // escape key maps to keycode `27`
                $overlay.removeClass('state-show');
                $modal.removeClass('state-appear').addClass('state-leave');
            }
        });

        //$('body').on('click', function () {
        //    if (($overlay.hasClass('state-show') == true)) {
        //        $overlay.removeClass('state-show');
        //        $modal.removeClass('state-appear').addClass('state-leave');
        //    }
        //});

        //$('.modal-footer').on('click', function () {
        //    $overlay.removeClass('state-show');
        //    $modal.removeClass('state-appear').addClass('state-leave');
        //});

        //$('.modal').on('click', function (e) {
        //    e.stopPropagation();
        //});
    });

    function addTableData(item, index) {
        $('#datatable').dataTable().fnAddData([
        item.name,
        item.nameVi,
        item.id]);
    };

    function addTableVideoData(item, index) {
        $('#datatableVideo').dataTable().fnAddData([
            item.name,
            "<a href='" + "https://www.youtube.com/watch?v=" + item.videoId + "'>watch video</a>",
            '<button class="' + 'btn btn-danger" id="deleteVideo" onclick="deleteVideo('+item.id+')"><span class="ti-trash"></span></button>',]);
    };

    function deleteVideo(id) {
        swal({
            title: 'Bạn có chắc chắn không?',
            text: "Bạn sẽ không thể hoàn tác hành động này!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý!',
            cancelButtonText: 'Hủy!',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false
        }).then(function () {
            $.ajax({
            type: 'GET',
            url: 'http://' + PORT + '/sas/sas_server/admin/deleteVideo/' + id + '/@Session["loggedToken"].ToString()',
            success: function (resp) {
                if (resp.statuskey == true) {
                    swal(
                        'Thành công',
                        resp.message,
                        'success'
                    );
                    $(':button').prop('disabled', false);
                } else {
                    swal(
                        'Thất bại',
                        resp.message,
                        'error'
                    );
                    $(':button').prop('disabled', false);
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });
        }, function (dismiss) {
            // dismiss can be 'cancel', 'overlay',
            // 'close', and 'timer'
            if (dismiss === 'cancel') {
                swal(
                    'Đã hủy',
                    'Link của bạn đã được giữ lại :)',
                    'error'
                )
            }
        })
    };

    function addModalTable(item, index) {
        $('#modaltable').dataTable().fnAddData([
        item.sentenceEn,
        item.sentenceVi]);
    };

    //Add Video
    document.getElementById("submitBtn").onclick = function () {
        if ($('#videoid').val() != '' && $('#length').val() != '' && $('#name').val() != ''){
            $('#loader').show();
            $(':button').prop('disabled', true);

            var res = {
                videoId: $('#videoid').val(),
                length: $('#length').val(),
                name: $('#name').val()
            };

            $.ajax({
                type: 'POST',
                url: 'http://'+ PORT +'/sas/sas_server/admin/addVideo/' + '@Session["loggedToken"].ToString()',
                data: JSON.stringify(res),
                success: function (resp) {
                    if (resp.statuskey == true) {
                        $(':button').prop('disabled', false);
                        swal(
                            'Thành công',
                            resp.message,
                            'success'
                        );
                        $('#loader').hide();
                    } else {
                        swal(
                            'Thất bại',
                            resp.message,
                            'error'
                        );
                        $(':button').prop('disabled', false);
                        $('#loader').hide();
                    }

                    //$('#loader').hide();
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }
        else {
            swal(
                'Lỗi',
                'Không thể bỏ trống thông tin',
                'error'
            );
            $(':button').prop('disabled', false);
        }
    };

    //Add Topic
    document.getElementById("addTopicBtn").onclick = function () {
        if ($('#topicVi').val() != '' && $('#topicEng').val() != ''){
            $('#loader').show();
            $(':button').prop('disabled', true);

            var res = {
                nameVi: $('#topicVi').val(),
                name: $('#topicEng').val()
            };

            $.ajax({
                type: 'POST',
                url: 'http://'+ PORT +'/sas/sas_server/admin/addTopic/' + '@Session["loggedToken"].ToString()',
                data: JSON.stringify(res),
                success: function (resp) {
                    if (resp.statuskey == true) {
                        $(':button').prop('disabled', false);
                        swal(
                            'Thành công',
                            resp.message,
                            'success'
                        );
                        $('#addTopicForm').fadeOut(2000);
                        $('#loader').hide();
                        clearTopicInput();
                    } else {
                        swal(
                            'Thất bại',
                            resp.message,
                            'error'
                        );
                        $(':button').prop('disabled', false);
                        $('#loader').hide();
                    }

                    //$('#loader').hide();
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }
        else {
            swal(
                'Lỗi',
                'Không thể bỏ trống thông tin',
                'error'
            );
            $(':button').prop('disabled', false);
        }
    };

    //Add Sentence
    document.getElementById("addSentenceBtn").onclick = function () {
        if ($('#sentenceEng').val() != '' && $('#sentenceVi').val() != ''){
            $('#loader').show();
            $(':button').prop('disabled', true);

            var res = {
                sentenceEn: $('#sentenceEng').val(),
                sentenceVi: $('#sentenceVi').val()
            };

            $.ajax({
                type: 'POST',
                url: 'http://'+ PORT +'/sas/sas_server/admin/topic/' + currentTopic +'/addSentence/' + '@Session["loggedToken"].ToString()',
                data: JSON.stringify(res),
                success: function (resp) {
                    if (resp.statuskey == true) {
                        $(':button').prop('disabled', false);
                        swal(
                            'Thành công',
                            resp.message,
                            'success'
                        );
                        $('#loader').hide();
                        clearSentenceInput();
                    } else {
                        swal(
                            'Thất bại',
                            resp.message,
                            'error'
                        );
                        $(':button').prop('disabled', false);
                        $('#loader').hide();
                    }

                    //$('#loader').hide();
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }
        else {
            swal(
                'Lỗi',
                'Không thể bỏ trống thông tin',
                'error'
            );
            $(':button').prop('disabled', false);
        }
    };
</script>

