
@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Modal-->
<link rel="stylesheet" href="~/Content/css/modal.css">
<!-- Modal -->
<script src="~/Content/js/modal.js"></script>

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <h4>Chi nhánh</h4>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="typo-line">                                  
                                    <div class="form-group">
                                        <p class="category">Tên</p>
                                        <div class="dropdown">
                                            <input class="dropdown-toggle form-control border-input" id="branch" readonly data-toggle="dropdown" type="text" required="required" />
                                            <ul class="dropdown-menu" id="branch_ul"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card" style="z-index:0;">
                    <div class="card-content">
                        
                        <!--Table dynamic-->
                        <div class="x_panel" style="padding:20px">
                            <h4>Events</h4>
                            <div class="x_content">
                                <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>End date</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>
</div>


<div class="modal-frame" id="attendant">
    <div class="modal" style="left: 30%;right:20%;">
        <div class="modal-inset" id="detailModal">
            <div class="button close"><i class="fa fa-close"></i></div>

            <div class="modal-body" style="max-height:calc(100vh - 210px);overflow-y:auto;">
                <h3>Người tham dự</h3>
                <table id="modaltable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Registered date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" id="attendant"></div>



<div class="modal-frame" id="datepick">
    <div class="modal" id="hello" style="left: 30%;right:20%; top:20%">
        <div class="modal-inset" id="detailModal">
            <div class="button close"><i class="fa fa-close"></i></div>

            <div class="modal-body" style="max-height:calc(100vh - 210px);overflow-y:auto;">
                <h3>Download Option</h3>
                <h6 style="float:right"><span class="alert-warning">*From date should smaller than To date</span></h6>
                @*<input class="form-control border-input" type="text" id="eventdate" required />*@             
                <div class="row">
                    <div class="col-md-12">
                        <div class="typo-line">
                            <div class="form-group">
                                <p class="category">Từ ngày :</p>
                                <input class="form-control border-input" type="date" id="fromdate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="typo-line">
                            <div class="form-group">
                                <p class="category">Đến ngày :</p>
                                <input class="form-control border-input" type="date" id="todate">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" style="display:inline-block" id="confirmDate" onclick="validateDateInput()">OK!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay" id="datepick"></div>

<script>

    $('#brand').text('Event list');
    var branchid;
    var tableData;
    var currenteventid = null;
    $(document).ready(function () {
        $('#datatable').dataTable();
        $.ajax({
            type: 'GET',
            url: 'http://'+ PORT +'/sas/sas_server/branch/getAll',
            success: function (resp) {
                if (resp.statuskey == true) {

                    resp.branchList.forEach(function (entry) {
                        $('#branch_ul').append('<li><a onclick="branchOnChange(' + "'" + entry.name + "','" + entry.id + "'" + ')">' + entry.name + '</a></li>');
                    });
                } else {
                    swal(
                        'Thất bại',
                        resp.message,
                        'error'
                    );
                    $(':button').prop('disabled', false);
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });

        $('#datatable tbody').on('click', 'tr', function () {
            
        });

        $(document).keyup(function (e) {
            if (e.keyCode == 27) { // escape key maps to keycode `27`
                if ($modal.hasClass('state-show')) {
                    $overlay.removeClass('state-show');
                    $modal.removeClass('state-appear').addClass('state-leave');
                }

                if ($datemodal.hasClass('state-show')) {
                    $dateoverlay.removeClass('state-show');
                    $datemodal.removeClass('state-appear').addClass('state-leave');
                }
            }
        });
    });

    function validateDateInput() {
        var from = $('#fromdate').val();
        var to = $('#todate').val();

        if ((new Date(from).getTime() > new Date(to).getTime()) || from == null || to == null || isNaN(Date.parse(from)) || isNaN(Date.parse(to))) {
            swal(
                'Thất bại',
                'Invalid date',
                'error'
            );
        } else {
            downloadAttendants(currenteventid,from,to);
        };
    };

    function branchOnChange(value, id) {
        branchid = id;
        $('#branch').text('' + value);
        $('#branch').val(value);

        $.ajax({
            type: 'GET',
            url: 'http://'+ PORT +'/sas/sas_server/promo/branch/' + branchid,
            success: function (resp) {
                if (resp.statuskey == true) {
                    var oTable = $('#datatable').dataTable();
                    oTable.fnClearTable();

                    tableData = resp.events;
                    tableData.forEach(addTableData);
                } else {
                    swal(
                        'Thất bại',
                        resp.message,
                        'error'
                    );
                    $(':button').prop('disabled', false);
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });
    }

    function addModalTable(item, index) {
        $('#modaltable').dataTable().fnAddData([
        item.name,
        item.phone,
        item.joinDate]);
    };

    function addTableData(item, index) {
        $('#datatable').dataTable().fnAddData([
        item.name,
        item.dateExpired,
        item.description,
        '<button class="btn btn-success" onclick="showModal(' + item.id + ')"><span class="ti-gallery"></span></button>' + " " +
        '<button class="btn btn-danger" id="deleteEvent" onclick="showDateModal(' + item.id + ')"><span class="ti-import"></span></button>']);
    };

    function showDateModal(id) {
        currenteventid = id;
        $dateoverlay.addClass('state-show');
        $datemodal.removeClass('state-leave').addClass('state-appear');
    };

    function downloadAttendants(id,fromdate,todate) {       

        var res = {
            from: fromdate,
            to: todate
        };

        $.ajax({
            type: 'POST',
            url: 'http://' + PORT + '/sas/sas_server/promo/event/' + id + '/members',
            data: JSON.stringify(res),
            success: function (resp) {
                if (resp.statuskey == true) {
                    var attendants = [];
                    for (i = 0; i < resp.members.length; ++i) {
                        attendants.push({
                            "#": i+1,
                            "Name": resp.members[i].name,
                            "Phone": resp.members[i].phone,
                            "Join Date": resp.members[i].joinDate
                        });
                    };
                    excelExport(attendants);
                    $dateoverlay.removeClass('state-show');
                    $datemodal.removeClass('state-appear').addClass('state-leave');
                } else {
                    swal(
                        'Thất bại',
                        resp.message,
                        'error'
                    );
                    $(':button').prop('disabled', false);
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });
        currenteventid = null;
    }

    function showModal(id) {
        var table = $('#datatable').DataTable();
        $.ajax({
            type: 'GET',
            url: 'http://' + PORT + '/sas/sas_server/promo/event/' +id + '/members',
            success: function (resp) {
                if (resp.statuskey == true) {
                    var oTable = $('#modaltable').dataTable();
                    oTable.fnClearTable();

                    resp.members.forEach(addModalTable);

                    $.notify({
                        icon: 'ti-bookmark',
                        message: "Press x or Escape button to close modal."

                    }, {
                            type: 'danger',
                            timer: 4000,
                            placement: {
                                from: 'top',
                                align: 'left'
                            }
                        });
                } else {
                    swal(
                        'Thất bại',
                        resp.message,
                        'error'
                    );
                    $(':button').prop('disabled', false);
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });
       
        $overlay.addClass('state-show');
        $modal.removeClass('state-leave').addClass('state-appear');     
    }

    function excelExport(data) {
        if (data.length > 0) {
            const xls = new xlsExport(data, "Attendants");
            xls.exportToXLS('export.xls');
        } else {
            swal(
                'Thất bại',
                'Data is empty',
                'error'
            );
        };
    }
</script>